<?xml version='1.0' encoding='utf-8'?>
<widget id="xyz.navinda.ceylonnews" version="6.5.3" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Ceylon News</name>
    <description>
        Free &amp; easy to use Sinhala news reader.
    </description>
    <author email="io@navinda.xyz" href="http://www.navinda.xyz/">
        Navinda Dissanayake
    </author>
    <content src="index.html" />
    <preference name="DisallowOverscroll" value="true" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <!-- <allow-intent href="tel:*" /> -->
    <!-- <allow-intent href="sms:*" /> -->
    <allow-intent href="mailto:*" />
    <!-- <allow-intent href="geo:*" /> -->
    <platform name="android">
        <preference name="SplashScreenSpinnerColor" value="white" />
        <icon density="ldpi" src="res/icon/android/ldpi.png" />
        <icon density="mdpi" src="res/icon/android/mdpi.png" />
        <icon density="hdpi" src="res/icon/android/hdpi.png" />
        <icon density="xhdpi" src="res/icon/android/xhdpi.png" />
        <icon density="xxhdpi" src="res/icon/android/xxhdpi.png" />
        <icon density="xxxhdpi" src="res/icon/android/xxxhdpi.png" />
        <splash src="res/screen/android/splash.png" />
        <allow-intent href="market:*" />

        <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
            <application android:usesCleartextTraffic="true" />
        </edit-config>
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>

    <plugin name="cordova-plugin-whitelist" spec="1" />
    <plugin name="cordova-plugin-splashscreen" spec="^5.0.3" />
    <plugin name="cordova-plugin-device" spec="^2.0.3" />
    <plugin name="cordova-plugin-network-information" spec="^2.0.2" />
    <plugin name="cordova-plugin-x-socialsharing" spec="^5.6.3" />
</widget>
