<ons-page>
  <ons-toolbar>
    <div class="left">
      <ons-toolbar-button onclick="newsListShow();currentPage='news-list';">
        <ons-icon icon="md-arrow-back"></ons-icon>
      </ons-toolbar-button>
    </div>
    <div id="toolbarTitle" class="center">
      About
    </div>
  </ons-toolbar>

  <div class="card card--material">
	<center>
	<img src="./img/logo.png" style="height:160px;">
	</center>
	<div style="text-align: center">
		<u><h4>Developed By</h4></u>
		<h3>Navinda Dissanayake</h3>
		<u><h4>Web</h4></u>
		<a onclick="window.open('https://www.navinda.xyz', '_system', 'location=yes');" href=""><h3>www.navinda.xyz</h3></a>
		<u><h4>Mail</h4></u>
		<h3>navilk@zoho.com</h3>
	  </div>
  </div>
</ons-page>
