<ons-page>
	<!-- toolbar start -->
	<ons-toolbar>
		<div class="left">
			<ons-toolbar-button onclick="fn.open()" id="toolbar-menu-toggler">
				<ons-icon icon="md-menu"></ons-icon>
			</ons-toolbar-button>
		</div>

		<div class="center">
			<span id="toolbarTitle">Ceylon News</span>
		</div>

		<div class="right">
			<ons-toolbar-button onclick="langSelectorShow()">
				<ons-icon icon="md-translate"></ons-icon>
			</ons-toolbar-button>

			<ons-toolbar-button onclick="newsRefresh()">
				<ons-icon icon="md-refresh"></ons-icon>
			</ons-toolbar-button>
		</div>
	</ons-toolbar>
	<!-- toolbar end -->

	<div id="news">
		<ons-list id="newsList">

		</ons-list>

		<div style="margin:10px 10px 20px 10px">
			<button id="btnLoadMore" class="button--large button--outline" onclick="newsLoadMore();" style="display:none">Load
				More</button>
		</div>
	</div>

</ons-page>