<ons-page>
  <ons-toolbar>
    <div class="left">

      <ons-toolbar-button id="btn-toolbar-back" onclick="showNewsList()">
        <ons-icon icon="md-arrow-back"></ons-icon>
      </ons-toolbar-button>
    </div>

    <div class="center">
      <span id="lbl-toolbar-title"> </span>
    </div>

    <div class="right">
      <ons-toolbar-button id="btn-toolbar-source" onclick="loadOriginalPost()">
        <ons-icon icon="md-link"></ons-icon>
      </ons-toolbar-button>

      <ons-toolbar-button id="btn-toolbar-share" onclick="shareNewsPost()">
        <ons-icon icon="md-share"></ons-icon>
      </ons-toolbar-button>
      
      <ons-toolbar-button id="btn-toolbar-refresh" onclick="refreshNewsPost()">
        <ons-icon icon="md-refresh"></ons-icon>
      </ons-toolbar-button>
    </div>
  </ons-toolbar>

  <div id="news-post" class="card card--material">
    <div class="news-post-content">
      <div class="card__title card--material__title">
        <span id="lbl-news-post-title"> </span>
      </div>
      <span id="lbl-news-post-datetime"> </span>
      <hr />
      <div class="card__content card--material__content">
        <div id="lbl-news-post-body" class="post-content">
          <!--  post content load here -->
        </div>
      </div>
      <hr />
      <div class="card--material__footer">
        <span>Source: <span id="lbl-news-post-source">Hiru News</span> -
          <a id="lbl-news-post-source-link" href="#">Original Post</a></span>
      </div>
    </div>
  </div>
</ons-page>