<ons-page>
	<!-- toolbar start -->
	<ons-toolbar>
		<div class="left">
			<ons-toolbar-button id="btn-toolbar-menutoggle" onclick="fn.openSideMenu()">
				<ons-icon icon="md-menu"></ons-icon>
			</ons-toolbar-button>
		</div>

		<div class="center">
			<span id="lbl-toolbar-title">Ceylon News</span>
		</div>

		<div class="right">
			<ons-toolbar-button id="btn-toolbar-translate" onclick="showLangSelectModal()">
				<ons-icon icon="md-translate"></ons-icon>
			</ons-toolbar-button>

			<ons-toolbar-button id="btn-toolbar-refresh">
				<ons-icon icon="md-refresh" onclick="refreshNewsList()"></ons-icon>
			</ons-toolbar-button>
		</div>
	</ons-toolbar>
	<!-- toolbar end -->

	<div id="news-list">
		<ons-list id="ul-news-list">

		</ons-list>

		<div class="news-list-footer">
			<button id="btn-news-list-loadmore" class="button--large button--outline" style="display: none;" onclick="loadMore()">
				Load More
			</button>
		</div>
	</div>

</ons-page>