<ons-page>
  <!-- toolbar start -->
  <ons-toolbar>
    <div class="left">
      <ons-toolbar-button onclick="fn.open()" id="toolbar-menu-toggler">
        <ons-icon icon="md-menu"></ons-icon>
      </ons-toolbar-button>
    </div>

    <div class="center">
      <span id="toolbarTitle">Settings</span>
    </div>
  </ons-toolbar>
  <!-- toolbar end -->

  <div>
    <ons-list>
      <ons-list-header>App</ons-list-header>
      <ons-list-item>
        <div class="center">
          Dark Mode
        </div>
        <div class="right">
          <ons-switch id="darkMode"></ons-switch>
        </div>
      </ons-list-item>
      <ons-list-item>
        <div class="center">
          Custom Sinhala Font
        </div>
        <div class="right">
          <ons-switch id="sinhalaFont"></ons-switch>
        </div>
      </ons-list-item>
      <ons-list-item>
        <div class="center">
          Show Notifications
        </div>
        <div class="right">
          <ons-switch id="notificationShow"></ons-switch>
        </div>
      </ons-list-item>
      <ons-list-item>
        <div class="center">
          Run in background
        </div>
        <div class="right">
          <ons-switch id="backgroundMode"></ons-switch>
        </div>
      </ons-list-item>
      <ons-list-header>News List</ons-list-header>
      <ons-list-item>
        <div class="center">
          Justify News List
        </div>
        <div class="right">
          <ons-switch id="newsListJustify"></ons-switch>
        </div>
      </ons-list-item>
      <ons-list-header>News Post</ons-list-header>
      <ons-list-item>
        <div class="center">
          Justify Post Title
        </div>
        <div class="right">
          <ons-switch id="postTitleJustify"></ons-switch>
        </div>
      </ons-list-item>
      <ons-list-item>
        <div class="center">
          Justify Post Body
        </div>
        <div class="right">
          <ons-switch id="postBodyJustify"></ons-switch>
        </div>
      </ons-list-item>
      <ons-list-item>
        <div class="center">
          Large Font Size
        </div>
        <div class="right">
          <ons-switch id="postBodyBigFontSize"></ons-switch>
        </div>
      </ons-list-item>
      <ons-list-header>Data Saving</ons-list-header>
      <ons-list-item>
        <div class="center">
          Auto Load News
        </div>
        <div class="right">
          <ons-switch id="newsListAutoLoad"></ons-switch>
        </div>
      </ons-list-item>
      <ons-list-item style="display:none">
        <div class="center">
          Load Images
        </div>
        <div class="right">
          <ons-switch id="imgLoad"></ons-switch>
        </div>
      </ons-list-item>
    </ons-list>
  </div>
</ons-page>