<ons-page>
  <!-- toolbar start -->
  <ons-toolbar>
    <div class="left">
      <ons-toolbar-button onclick="fn.open()" id="toolbar-menu-toggler">
        <ons-icon icon="md-menu"></ons-icon>
      </ons-toolbar-button>
    </div>

    <div class="center">
      <span id="toolbarTitle">Settings</span>
    </div>
  </ons-toolbar>
  <!-- toolbar end -->

  <div>
    <ons-list>
      <ons-list-header>Appearance</ons-list-header>
      <ons-list-item>
        <div class="center">
          Dark Mode
        </div>
        <div class="right">
          <ons-switch></ons-switch>
        </div>
      </ons-list-item>
      <ons-list-item>
        <div class="center">
          Custom Sinhala Font
        </div>
        <div class="right">
          <ons-switch></ons-switch>
        </div>
      </ons-list-item>
      <ons-list-item>
        <div class="center">
          Justify Text
        </div>
        <div class="right">
          <ons-switch></ons-switch>
        </div>
      </ons-list-item>
    </ons-list>
  </div>
</ons-page>