<ons-page>
  <!-- toolbar start -->
  <ons-toolbar>
		<div class="left">
      <ons-toolbar-button id="btn-toolbar-back" onclick="showNewsList()">
        <ons-icon icon="md-arrow-back"></ons-icon>
      </ons-toolbar-button>
		</div>

		<div class="center">
			<span id="lbl-toolbar-title">Settings</span>
		</div>
  </ons-toolbar>
  <!-- toolbar end -->

  <div>
    <ons-list>
      <ons-list-header>App</ons-list-header>

      <ons-list-item>
        <div class="center">
          Dark Mode
        </div>
        <div class="right">
          <ons-switch id="st-darkmode"></ons-switch>
        </div>
      </ons-list-item>

      <ons-list-item>
        <div class="center">
          Custom Sinhala Font
        </div>
        <div class="right">
          <ons-switch id="st-sinhalafont"></ons-switch>
        </div>
      </ons-list-item>

      <ons-list-header>News List</ons-list-header>

      <ons-list-item>
        <div class="center">
          Justify News List
        </div>
        <div class="right">
          <ons-switch id="st-news-list-justify"></ons-switch>
        </div>
      </ons-list-item>

      <ons-list-header>News Post</ons-list-header>

      <ons-list-item>
        <div class="center">
          Justify Post Title
        </div>
        <div class="right">
          <ons-switch id="st-news-post-title-justify"></ons-switch>
        </div>
      </ons-list-item>

      <ons-list-item>
        <div class="center">
          Justify Post Body
        </div>
        <div class="right">
          <ons-switch id="st-news-post-body-jusitfy"></ons-switch>
        </div>
      </ons-list-item>

      <ons-list-item>
        <div class="center">
          Large Font Size
        </div>
        <div class="right">
          <ons-switch id="st-news-post-body-lgfont"></ons-switch>
        </div>
      </ons-list-item>

      <ons-list-header>Data Saving</ons-list-header>

      <ons-list-item>
        <div class="center">
          Auto Load News
        </div>
        <div class="right">
          <ons-switch id="st-news-list-autoload"></ons-switch>
        </div>
      </ons-list-item>

    </ons-list>
  </div>
</ons-page>