@font-face {
  font-family: "english";
  src: url("../fonts/english.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "sinhala";
  src: url("../fonts/sinhala.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "tamil";
  src: url("../fonts/tamil.ttf");
  font-weight: normal;
}

.en-font {
  font-family: "english";
}

.sn-font {
  font-family: "sinhala";
}

.tm-font {
  font-family: "tamil";
}

.side-menu-img {
  width: 100%;
}

.post-content {
  font-size: 17px;
}

.post-content iframe {
  height: auto !important;
  width: 100% !important;
}

.post-content img {
  width: 100%;
  height: auto !important;
}

.text-white {
  color: white;
}

.text-black {
  color: black;
}

.text-justify {
  text-align: justify;
}

.modal-langselect div {
  text-align: center;
}

.modal-langselect .ons-button {
  width: 75%;
  margin-bottom: 10px;
}

.news-list-footer {
  margin: 10px 10px 20px 10px;
}

.modal-about div h4 {
  margin-bottom: 0;
  padding-bottom: 0;
}

.modal-about div h3 {
  margin-top: 0;
  padding-top: 0;
}