@font-face {
  font-family: "Malithi-Web";
  src: url("../fonts/malithi_web.ttf");
  font-weight: normal;
}

.sinhala {
  font-family: "Malithi-Web";
}

.justify {
  text-align: justify;
}

.no-padding-margin {
  margin: 0;
  padding: 0;
}

.post-content img {
  width: 100%;
}

.about-label-title {
  background-color:#000000;
  border-radius:10px;
  color:#FFFFFF;
}

.about-label-text {
  color:#000000;
  margin-bottom: 15px;
}

.ons-button {
  width: 75%;
  margin-bottom: 10px;
}
