@font-face {
    font-family: "Malithi-Web";
    src: url(../fonts/malithi_web.ttf);
    font-weight: normal !important;

  }
  
.sinhala {
    font-family: "Malithi-Web" !important;
    
}

.no-padding-margin {
    margin: 0px !important; 
    padding: 0px !important;
}

.full-text {
    white-space:normal !important;
}

.news-post {
    text-align: justify;
}

.news-post h3 {
    margin: 0px;
}

.news-post img {
    width: 100%;
}

.news-post .date-time, .postSource{
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 12px !important;
}

.news-list li a img{
    position:absolute;
    top:0;
    bottom:0;
    margin:auto;
}